@mixin style-header {
  .ant-input {
    border-color: transparent;
    color: $primary_color;
    font-weight: 500;
    &:hover,
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
    &::placeholder {
      color: rgba($color: $primary_color, $alpha: 1);
    }
  }
  .ant-btn {
    border: none;
    .anticon {
      font-size: 1.4rem;
      color: $primary_color;
    }
  }
}

.HeaderSearch {
  border: none;
  border-bottom: 2px solid rgba($color: $primary_color, $alpha: 1);
  @include style-header();
}
.HeaderSearch_2 {
  border: 1px solid rgba($color: $primary_color, $alpha: 1);
  border-radius: 16px;
  width: 360px;
  margin-right: 30px;
  @include style-header();
  .ant-input {
    border-radius: 16px;
  }
  .ant-btn {
    border-top-right-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
  }
}
.HeaderBtn {
  background-color: $secondary_color;
  margin-right: 25px;
  .anticon {
    color: $primary_color;
  }
}
.HeaderAcc {
  .HeaderAccImg {
    border: 3px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .HeaderAccName {
    font-size: 0.8rem;
    color: $text_primary_color;
  }
  .HeaderAccRole {
    font-size: 0.6rem;
    color: $text_sencodary_color;
  }
}
