.main_tradings {
  margin-top: 32px !important;
  padding-inline: 24px !important;

  .ant-form-item {
    margin-bottom: auto !important;
  }
}

.btn__trading {
  &.next:hover {
    .ant-btn-icon {
      animation: loop_right 1s infinite linear;
    }
  }

  &.back:hover {
    .ant-btn-icon {
      animation: loop_left 1s infinite linear;
    }
  }
}

.tradings__information {
  .tradings__card-containers {
    .ant-card-body {
      padding-right: 0px !important;
    }
    .ant-list {
      .rc-virtual-list-holder {
        overflow-y: auto !important;
        position: relative;

        &::-webkit-scrollbar {
          width: 8px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #fff;
          border-radius: 5px;

          &:hover {
            background-color: #8f8d8d9f !important;
          }
        }

        &:hover {
          &::-webkit-scrollbar-thumb {
            background-color: #c6c6c69f;
          }
        }
        .rc-virtual-list-holder-inner {
          padding-right: 8px !important;
        }
      }
    }
  }
}

.list-container__tradings {
  .rc-virtual-list-holder {
    overflow-y: auto !important;
    position: relative;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 5px;

      &:hover {
        background-color: #8f8d8d9f !important;
      }
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: #c6c6c69f;
      }
    }

    .rc-virtual-list-holder-inner {
      padding-right: 8px !important;
      padding-left: 6px !important;
    }
  }
}

.tradings__container {
  width: 100%;
  margin-top: 12px;
  > .ant-col:nth-child(1) {
    border: 1px solid rgba(210, 208, 208, 0.563) !important;
    border-right: 0px !important;
  }

  .tradings__list-container {
    border: 1px solid rgba(210, 208, 208, 0.457) !important;
    padding: 6px 12px !important;

    .ant-flex {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    article:nth-child(1) {
      font-size: 12px !important;
      color: rgba(0, 0, 0, 0.45);
      width: 85px !important;
    }
    article:nth-child(2) {
      // text-align: center;
    }

    &.bottom {
      border-top: 0px !important;
    }
  }
}

.steps__trading-cont {
  padding: 12px !important;
  padding-top: 20px !important;
  // padding-right: 32px !important;
  .ant-steps-item {
    height: 70px !important;
    .ant-steps-item-container {
      // display: flex;
      // flex-direction: row-reverse;

      .ant-steps-item-icon {
        // margin-inline-start: 16px;
        // margin-inline-end: 0px !important;
      }
    }

    .ant-steps-item-tail {
      // left: calc(100% - 16px) !important;
    }

    .ant-steps-item-title {
      font-size: 14px !important;
      // padding-right: 0px !important;
      transition: all 0.2s ease;
      text-transform: uppercase;
      // text-align: end !important;
    }

    .ant-steps-item-tail::before {
      position: absolute;
      content: "";
      top: 32px;
      left: 0;
      width: 1px;
      height: 0px;
      transition: height 0.6s ease-in-out;
      background-color: #0e499a;
    }

    &.ant-steps-item-finish {
      .ant-steps-item-tail {
        &::after {
          background-color: rgba(5, 5, 5, 0.06) !important;
        }
        &::before {
          height: calc(100% - 32px) !important;
        }
      }
      .ant-steps-item-title {
        font-weight: 600;
        color: #0e499a !important;
      }
    }
  }
}

.description_biling {
  .ant-descriptions-item-label.active,
  .ant-descriptions-item-content.active {
    font-weight: 700;
  }
  .ant-descriptions-item-content {
    span {
      display: flex;
      justify-content: space-between;
    }

    &.number span {
      width: 100% !important;
      display: inline-block;
      text-align: right;
    }
  }
}

.description__information-tradings {
  .ant-descriptions-item-label,
  .ant-descriptions-item-content {
    padding: 9px 14px !important;
  }

  .ant-badge-status-text {
    color: #0e499a !important;
  }
}

.tradings__upload-file .ant-upload {
  padding: 3px 3px !important;
  .ant-upload-drag-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .ant-upload-drag-icon {
    margin: 8px 0 !important;
    svg {
      width: 48px !important;
      height: 48px !important;
    }
  }
  .ant-upload-text {
    margin: 0px !important;
    text-align: left !important;
  }
  .ant-upload-hint {
    margin: 0px !important;
    font-size: 12px !important;
    font-style: italic;
  }
}

.description_information {
  .ant-descriptions-item-label {
    padding: 0px 16px !important;
  }
  .ant-descriptions-item-content {
    padding: 4px 16px !important;
  }
}

.checkbox__container {
  .ant-checkbox-group-item {
    gap: 6px !important;
    span {
      font-size: 15px !important;
    }
  }

  .ant-checkbox-wrapper-checked {
    span {
      color: #0e499a !important;
    }
  }
}

.list__select-container {
  .label__container-check {
    cursor: pointer;
    position: relative;
    display: inline-block;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 1.5px;
      background-color: #0e499a;
      transition: width 0.3s ease-out;
    }

    &:hover {
      color: #0e499a;
    }

    &.active {
      color: #0e499a;
      &::before {
        width: 100%;
      }
    }
  }
}

.tradings__card-biling {
  border: none !important;
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  .card-biling__item {
    height: 100%;
    border: none !important;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;

    .empty__billing {
      animation: translate-empty__billing 0.5s forwards;
    }

    .input__search,
    .text__test {
      animation: search__billing 0.5s forwards;
      animation-delay: 0.3s;
      transform: translateY(200px);
    }
  }
}

.group__card-payment {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .card-payment {
    border: none !important;
    .ant-card-body {
      padding: 0px !important;
      display: flex;
      align-items: center;
      gap: 10px;

      .ant-typography {
        font-weight: 600;
      }

      img {
        width: 50px;
      }
    }
  }
}

.skip_img-payment {
  width: 20% !important;
  transform: translateY(35px);
}

.paymenting_loading {
  width: 280px;
  pointer-events: none;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 260px;
  border-radius: 15px;

  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 700px;

    .face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: linear-gradient(to right, #283593, #1976d2);
      backdrop-filter: blur(10px);
      transform-style: preserve-3d;
      transition: 1s;
      backface-visibility: hidden;
    }

    &:hover .face.front {
      transform: rotateY(180deg);
    }

    .face.back {
      transform: rotateY(180deg);
    }

    &:hover .face.back {
      transform: rotateY(360deg);
    }

    .face.front {
      &::before {
        content: "";
        position: absolute;
        bottom: 40px;
        right: 40px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #fff;
        opacity: 0.5;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 40px;
        right: 80px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #fff;
        opacity: 0.7;
      }

      .debit {
        position: absolute;
        left: 40px;
        top: 30px;
        color: #fff;
        font-weight: 500;
      }
      .bank {
        position: absolute;
        right: 40px;
        top: 25px;
        color: #fff;
        font-weight: 500;
        font-style: italic;
        font-size: 24px;

        img {
          width: 150px;
          transform: translateX(30px) translateY(-15px);
        }
      }
      .chip {
        position: absolute;
        top: 80px;
        left: 50px;
        max-width: 64px;
      }
      .number {
        position: absolute;
        bottom: 80px;
        left: 40px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 6px;
        font-size: 18px;
        text-shadow: 0 2px 1px #0005;
        font-family: "Orbitron", sans-serif;
      }
      .valid {
        position: absolute;
        bottom: 45px;
        left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 300;
        line-height: 1em;
        text-align: right;

        span:last-child {
          margin-left: 20px;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 2px;
        }
      }
      .cardHolder {
        position: absolute;
        bottom: 5px;
        left: 40px;
        color: #fff;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
    .face.back {
      .blackbar {
        position: absolute;
        top: 40px;
        width: 100%;
        height: 60px;
        background: #000;
      }
      .ccvtext {
        position: absolute;
        top: 120px;
        left: 30px;
        h5 {
          color: #fff;
          font-weight: 400;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        .whiteBar {
          position: relative;
          width: 360px;
          height: 40px;
          background: #fff;
          margin-top: 5px;
        }
        .ccv {
          position: relative;
          background: #ccc;
          color: #111;
          width: 50px;
          height: 30px;
          font-weight: 600;
          letter-spacing: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -35px;
          left: 325px;
        }
      }
    }
  }
}

.tradings__mobile-step {
  display: none;
}

.listcontainer_grid {
  margin-top: 20px !important;
}

.tradings__collapse-container {
  .ant-collapse-header {
    padding: 0px !important;
    background-color: #fff;
  }
  .ant-collapse-content-box {
    padding: 12px 0 !important;
  }
}

.register__booking-container {
  .b-main__content {
    margin-top: 0px !important;
    padding: 0px !important;
  }
}
.tradings__information-container {
  padding-top: 12px;
  .btn-add__booking {
    width: 100%;
    border-radius: 0px !important;
    height: 42px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    text-transform: uppercase;
  }

  .ant-radio-button-wrapper-checked {
    .ant-radio-button-checked {
      background-color: #1677ff;
    }
    span {
      color: #fff;
    }
  }
}

.filter-item {
  margin-bottom: auto !important;
}

@media screen and (max-width: 480px) {
  .tradings__information {
    padding-inline: 12px !important;

    .tradings__function-btn {
      display: flex;
      justify-content: center;
      gap: 12px;
      flex-direction: row;
    }
  }

  .tradings__upload-file .ant-upload .ant-upload-drag-container {
    flex-direction: column;
    padding: 12px;
    gap: 0px;
  }

  .tradings__card-biling {
    height: 300px !important;
  }

  section {
    margin-bottom: 24px;
  }

  .whiteBar {
    width: 320px !important;
  }

  .ccv {
    left: 285px !important;
  }

  .steps__trading-cont {
    flex-direction: row !important;
    flex-wrap: wrap !important;
    padding: 0 !important;
    gap: 17px;
    .ant-steps-item {
      .ant-steps-item-title {
        display: none;
      }

      height: 30px !important;
      .ant-steps-item-container {
        flex-direction: row !important;
        .ant-steps-item-icon {
          margin-inline-end: 12px !important;
          margin-inline-start: 0px !important;
        }
        .ant-steps-item-title {
          font-size: 13px !important;
        }

        .ant-steps-item-tail {
          &::before {
            top: 32% !important;
            left: 20px !important;
            transform: translateY(-50%) !important;
            width: 0px !important;
            height: 1px !important;
            transition: width 0.3s ease;
          }
        }
      }
      &.ant-steps-item-finish {
        .ant-steps-item-tail::before {
          width: 15px !important;
        }
      }
    }
  }

  .listcontainer_grid .ant-row > .ant-col:nth-child(1) {
    flex-direction: column;
    align-items: flex-start !important;
    input {
      margin-bottom: 0px !important;
    }
    & > div > div {
      flex-wrap: wrap;
      gap: 6px;
    }
  }

  .description_biling {
    .ant-descriptions-item-label {
      padding: 4px 12px !important;
      width: 118px;
    }
  }

  .skip_img-payment {
    width: 60% !important;
  }

  .complete_img-payment {
    width: 70% !important;
  }

  .list-container__tradings {
    .ant-list-item {
      gap: 12px !important;
    }
    .tradings__container {
      & > .ant-col:nth-child(1) {
        padding: 12px !important;
        border-right: 1px solid rgba(210, 208, 208, 0.563) !important;
      }
    }

    .tradings__list-container {
      .ant-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
      }
      article:nth-child(1) {
        width: unset !important;
      }
    }
  }

  .paymenting_loading {
    width: 200px;
    pointer-events: none;
  }
}

@keyframes search__billing {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes translate-empty__billing {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes loop_right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes loop_left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0);
  }
}
