$primary_1: #062c60;
$primary_2: #0a3a7b;
$primary_3: #0e499a;
$primary_4: #2c60a8;
$primary_5: #4c79b7;
$primary_6: #9adbff;

$secondary_1: #eace01;
$secondary_2: #ffe730;
$secondary_3: #ffec5c;

$third_1: #ea2101;
$third_2: #ff4c30;
$third_3: #ff725c;

$error: #ff5252;
$success: #3aff36;
$warning: #ffbf1a;
$success_1: #50a81d;

$bg: #eeeeee;

$black: #000000;
$white: #ffffff;
$subtitle: #4d4d4d;
$subtitle_light: #dedede;
$text-caption: #525252;
$text-primary: #040f0f;
$text-grey: #a3a3a3;
$neultral_300: #d6d6d6;

$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;

$primary_500: #004d9f;
$primary_400: #3371b2;
$primary_300: #6694c5;
$primary_200: #99b8d8;

$second_500: #fef200;
$second_400: #fef668;
$second_300: #fef996;
$second_200: #fefbbc;

$active_500: #ffc329;
