$primary_color: #058ee3;
$secondary_color: #cee8ff;
$menu_sub_color: #7ea1ff;
$text_sub_color: #00215e;
$text_primary_color: #4a4366;
$text_sencodary_color: #a59a9a;
$red_color: #e63e30;
$white_color: #fafafa;

$height_header: 50px;
$width_sider: 290px;
$height_footer: 50px;
$width_menu_item: 100%;

$default_padding: 12px;
$border_color: rgba(204, 204, 204, 0.71);

// space
$space-0: 0px;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;
$space-11: 44px;
$space-12: 48px;
$space-13: 56px;
$space-14: 60px;
$space-15: 64px;
$space-16: 68px;
$space-17: 80px;
$space-18: 96px;

:root {
  --background-color: #ecf2f8;
  --primary-color: #058ee3;
  --secondary-color: #cee8ff;
  --text-primary-color: #464255;
  --text-secondary-color: #a59a9a;
  --red-color: #e63e30;

  --height-header: 62px;
  --height-footer: 50px;
  --width-sider: 270px;
}
